<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #frm="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
          type="email"
          id="email"
          class="form-control"
          name="email"
          ngModel
          email
          required
          #email="ngModel">
          <p *ngIf="!email.valid && email.touched">You entered an invalid email!</p>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
          type="text"
          id="password"
          class="form-control"
          name="password"
          ngModel
          required
          #password="ngModel">
          <p *ngIf="!password.valid && password.touched">You entered an invalid password!</p>
        </div>
        <div class="form-group">
          <label for="subscription">Type of subscription</label>
          <select
          id="subscription"
          class="form-control"
          [ngModel]="defaultSubscription"
          name="subscription">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <button
        class="btn btn-primary"
        type="submit" [disabled]="!frm.valid">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h3>Data you submitted</h3>
      <p>Email: {{ user.email }}</p>
      <p>Password: {{ user.password }}</p>
      <p>Type of subscription: {{user.subscription}} </p>
    </div>
  </div>
</div>
